{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "no-console": [
      "off"
    ],
    "max-len": [
      "error",
      140,
      {
        "ignoreComments": true
      }
    ]
  }
}